* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fceded;
    background-color: #ffcccc;
}
main {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    text-align: center;
}
.question-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.question-card {
    width: 60vw;
    margin: 20px 0;
    padding: 20px;
    position: relative;
    border-radius: 10px;
    background-color: #ffcccc;
    background-color: #fceded;
}
.show-icon,
.close-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}
.answer {
    margin: 0 20px;
}
.hidden {
    visibility: hidden;
}